# App Config
NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1
TRUSTED_ORIGINS=http://localhost:3000,http://localhost:5000

# DB Config
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=sarahah_dev

# JWT Config
JWT_ACCESS_SECRET=your_access_secret_here
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_COOKIE_NAME=refreshToken

# Mail Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password

MAIL_FROM="Sarahah Team <your_email@gmail.com>"

# Client Config
CLIENT_URL=http://localhost:3000